/* line 1, ../scss/custom.scss */
body {
  background: #B3E5FC;
}
/* line 3, ../scss/custom.scss */
body .sitecontent {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

/* line 9, ../scss/custom.scss */
#grille-desm div {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
