/*BOUTON */
$btn-padding: 7px 12px;
$btn-color:transparent;
$btn-hover:#252525;
$btn-blue:#42A5F5;
$btn-hover-blue:#2962FF;
$btn-red:#F44336;
$btn-hover-red:#B71C1C;
$btn-yellow: #FFEB3B;
$btn-hover-yellow:#F57F17;
$btn-green: #69F0AE;
$btn-hover-green:#00C853;
$btn-black: black;
$btn-hover-black:white;
$btn-lg-padding:20px 25px;
$btn-lg-ft-size:1em;
$btn-xl-padding:20px 25px;
$btn-xl-ft-size:1em;

/*Classe reprise d'un projet réalisé en stage*/
.btn{
  padding:$btn-padding;
  letter-spacing: 1px;
  outline: 0;
  color: #252525;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  line-height: 100%;
  cursor: pointer;
  zoom: 1;
  border: 1px solid #252525;
  background-color: $btn-color;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: color .2s ease-in-out,background .2s ease-in-out,border .2s ease-in-out;
  -moz-transition: color .2s ease-in-out,background .2s ease-in-out,border .2s ease-in-out;
  -ms-transition: color .2s ease-in-out,background .2s ease-in-out,border .2s ease-in-out;
  -o-transition: color .2s ease-in-out,background .2s ease-in-out,border .2s ease-in-out;
  transition: color .2s ease-in-out,background .2s ease-in-out,border .2s ease-in-out;
  a{
    color:inherit;
  }
  &:hover{
    background-color: $btn-hover;
    color: #fff;
  }
  &::active{
    box-shadow: inset 3px 3px 5px 1px rgba(255, 255, 255, 0.3);
  }
}

.btn-blue{
  background-color: $btn-blue;
  border-color:$btn-hover-blue;
  color:white;
  &:hover{
    background-color:$btn-hover-blue;
  }
}


.btn-red{
  background-color: $btn-red;
  border-color:$btn-hover-red;
  color:white;
  &:hover{
    background-color:$btn-hover-red ;
  }
}

.btn-yellow{
  background-color:$btn-yellow;
  border-color:$btn-hover-yellow;
  color:black;
  &:hover{
    background-color:$btn-hover-yellow ;
  }
}

.btn-green{
  background-color:$btn-green;
  border-color:$btn-hover-green;
  color:black;
  &:hover{
    background-color:$btn-hover-green ;
  }
}

.btn-black{
  background-color: $btn-black;
  border-color:$btn-black;
  color:white;
  &:hover{
    background-color:$btn-hover-black ;
    color:black;
  }
  &active{
    box-shadow: inset 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  }
}

.btn-lg{
  padding: $btn-lg-padding;
  font-size:$btn-lg-ft-size;
  letter-spacing: 2px;
}

.btn-xl{
  width: 100%;
  padding: $btn-xl-padding;
  font-size:$btn-xl-ft-size;
  letter-spacing: 2px;
}
