/*Code en partie réalisé durant mon stage chez Articom, mission donnée par mon maitre de stage pour apprendre SASS*/
/*Tuto sur grafikart*/

/*
Variable !
*/

$colonnes : 12!default;
$goutiere : 20px!default;
$medium : 640px!default;
$large:1024px!default;


/*Mixin pour gérer la grille */

@mixin grille-responsive($suffix: '') {
  @for $i from 0 through $colonnes{
    @if $i != 0 {
      .col#{$suffix}-#{$i}{width: $i / $colonnes * 100%;}
    }
    .col#{$suffix}-center{margin:0 auto; float:none;}
    .col-push#{$suffix}-#{$i}{left:$i /$colonnes * 100%;}
    .col-pull#{$suffix}-#{$i}{left:$i /$colonnes * 100%;}
    .col-offset#{$suffix}-#{$i}{margin-left:$i /$colonnes * 100%;}

  }
}

/* Extends */

%col{
  float: left;
  position: relative;
  min-height: 1px;
  padding:10px $goutiere * 0.5;
}

%clearfix{
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
  & {
    zoom:1;
  }
}

/*Classe row (permet de remettre à la ligne quand ça sort)*/

.row{
  margin:0 ;
  @extend %clearfix;
  margin-bottom: 10px;
}


.contenaire{
  margin:0 $goutiere/2;
  @extend %clearfix;
}



@for $i from 1 through $colonnes{

  .col-#{$i},.col-md-#{$i},.col-l-#{$i}{@extend %col;}
}
@include grille-responsive();

/* Pour écran moyen */

@media only screen and (min-width:$medium) {
  @include grille-responsive('-md');
}

/*Pour grand écran */

@media only screen and (min-width:$large) {
  @include grille-responsive('-l');
}
