/* LIIIST */
ul{
	margin-left: 1.5rem;
	margin-bottom: 1rem;
}
.list-cercle{
	list-style-type: circle;
}
.list-carre{
	list-style-type: square;
}
.list-none{
	list-style-type: none;
}
.list-inline li{
	display: inline;
}
.list-num{
	list-style-type: upper-roman;
}
.list-abc{
	list-style-type: lower-alpha;
}
