$h-color:black;
$h-family:Arial;
$h1-size:2em;
$small-color:#78909C;

$color-sub:#78909C;





.sitecontent{
	padding:1em;
}
/* TITRE ET SOUS TITRE */

h1,h2,h3,h4,h5,h6{
	color:$h-color;
	font-weight: bold;
	font-family: $h-family;
	margin:0.5em 0;
}

h1{
	font-size:$h1-size;
  &.sub{
    font-size:$h1-size - 0.3em;
    color: $color-sub;
  }
}

h2{
	font-size:$h1-size - 0.1em;
  &.sub{
    font-size:$h1-size - 0.4em;
    color: $color-sub;
  }
}
h3{
	font-size:$h1-size - 0.2em;
  &.sub{
    font-size:$h1-size - 0.5em;
    color: $color-sub;
  }
}
h4{
	font-size:$h1-size - 0.3em;
  &.sub{
    font-size:$h1-size - 0.6em;
    color: $color-sub;
  }
}
h5{
	font-size:$h1-size - 0.4em;
  &.sub{
    font-size:$h1-size - 0.7em;
    color: $color-sub;
  }
}
h6{
	font-size:$h1-size - 0.5em;
  &.sub{
    font-size:$h1-size - 0.8em;
    color: $color-sub;
  }
}


small{
	font-size: 0.9em;
	color: $small-color;
}


/* PARAGRAPHE*/
p{
	margin-bottom: 0.5rem;
}

/* ALIGNEMENT ET TEXT-TRANSFOR */
.alig-c{
	text-align: center;
}
.alig-g{
	text-align: left;
}
.alig-d{
	text-align: right;
}
.alig-j{
	text-align: justify;
}
.upper{
	text-transform: uppercase;
}
.lower{
	text-transform: lowercase;
}
