body{
  background: #B3E5FC;
  .sitecontent{
    width: 80%;
    margin: 0 auto;
    background-color: white;
  }
}
#grille-desm div{
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}
